{% extends 'admin/base.html' %}

{% block title %}
  热门文章管理页面
{% endblock %}

{% block content_header %}
  热门文章管理
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div class="box box-primary">
        <div class="box-header">
          <a href="{% url 'admin_addhot' %}" class="btn btn-primary pull-right"
             id="btn-add-news-recommend" target="_blank">添加热门文章</a>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>序号</th>
              <th>文章名称</th>
              <th>文章分类</th>
              <th>优先级</th>
              <th>操作</th>
            </tr>
            </thead>

            <tbody>

            {% for i in hot %}
              <tr data-id="{{ i.id }}" data-name="{{ i.new.title }}">
                 <td>{{ forloop.counter }}</td>
                <td>
                  <a href="{% url 'news_detail' i.new_id %}" data-news-id="{{ i.new_id }}" target="_blank">
                    {{ i.new.title }}
                  </a>
                </td>

                <td>{{ i.new.tag.name }}</td>
                <td>{{ i.get_priority_display }}</td>
                <td>
                  <button class="btn btn-xs btn-warning btn-edit" data-priority="{{ i.priority }}">编辑</button>
                  <button class="btn btn-xs btn-danger btn-del">删除</button>

                </td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
        <div class="box-footer"></div>
      </div>
    </div>
  </div>
{% endblock %}


{% block script %}
  <script src="../../static/admin/js/hot_manage.js"></script>
{% endblock %}
