{% extends 'base/base.html' %}
{% block link %}
      <link rel="stylesheet" href="../../static/css/course/course.css">
{% endblock %}
{% block title %}
    在线课堂
{% endblock %}
{% block main %}
<main id="course-container">
        <div class="w1200">
            <ul class="course-list">
                {% for i in courses %}
                <li class="course-item">
                    <a href="{% url 'course_detail' i.id %}" target="_blank">
                        <img class="course-img" src="{{ i.cover_url }}"
                            alt="潭州英语">
                        <div class="course-content">
                            <p class="course-info">{{ i.title }}({{ i.category.name }})</p>
                            <p class="course-author">{{ i.teacher.name }}({{ i.teacher.positional_title }})</p>
                            <p class="course-price free">免费</p>
                        </div>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </main>
{% endblock %}
{% block script %}
{% endblock %}
